<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.habit.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.habit.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="vipLevel" column="vip_level" jdbcType="INTEGER"/>
            <result property="vipTime" column="vip_time" jdbcType="TIMESTAMP"/>
            <result property="points" column="points" jdbcType="BIGINT"/>
            <result property="signInTime" column="sing_in_time" jdbcType="TIMESTAMP"/>
            <result property="serialSign" column="serial_sign" jdbcType="INTEGER"/>
            <result property="totalSign" column="total_sign" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,email,
        vip_level,points,sign_in_time,
        serial_sign,total_sign,username,
        password,picture,create_time,update_time
    </sql>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where
        username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>
